body {
	height: 100%;
	width: 100%;
	margin-top: 00px;
	margin-right: auto;
	margin-bottom: 00px;
	margin-left: auto;
        background-image: url(http://www.jrjimenez.com/images/188.jpg);
        background-repeat: repeat-x;
        background-position: 49px 159px;
        z-index: 1;
        color: #002F5E;
        font-family: 'Abel', sans-serif;
}

body#jardin-page {
    	height: 100%;
	width: 100%;
	margin-top: 00px;
	margin-right: auto;
	margin-bottom: 00px;
	margin-left: auto;
        background-image: url(http://www.jrjimenez.com/images/213.jpg);
        background-repeat: repeat-x;
        background-position: 49px 159px;
        z-index: 1;
        color: #002F5E;
        font-family: 'Abel', sans-serif;
    
}

/* estilos
----------------------------------------------- */


p { font-family: 'Abel', sans-serif;
	@import url(http://fonts.googleapis.com/css?family=Abel);
	font-size: 16px;
	color: #002F5E;
}

.ruta a:link { color: #9F9494; text-align: left;

}

.ruta a:hover { color: #9F9494; text-align: left;

}

.ruta { color: #9F9494; text-align: left;  font-size: 16px;
}

table {
     border: 10px solid #D3DFF2;
     
}

h1, h2 {
	font-family: 'Abel', sans-serif;
}

h3 {
	font-family: 'Abel', sans-serif;
        font-size: 29px;
        margin: 0px;
}

nav,
section,
summary {
  display: block;
}

#copete {
	background-image: url(http://www.jrjimenez.com/js/img/copete.jpg);
	background-repeat: repeat-x;
	height: 161px;
	width: 100%;
	z-index: 5;
}
#copete2 {
	background-image: url(http://www.jrjimenez.com/images/214.jpg);
	background-repeat: repeat-x;
	height: 161px;
	width: 100%;
	z-index: 5;
}

#menu {
font-family: 'Abel', sans-serif;
	position: relative;
top: 114px;
float: left;
left: 25%;
color: #fff;
}

#menu .activo {
font-size: 20px;
}

#menutop {
        float: right;
    color: white;
    position: relative;
    right: 11%;
    top: 10px;
    font-size: 20px;
}
}

.submenu {
    text-transform: uppercase;
    font-size: 14px;
}

#contexto {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 21px;
	margin-bottom: 11px;
        font-family: 'Abel', sans-serif;
        overflow: hidden;
}

.columna1 {
	float: left;
	width: 30%;
}



.columna2 {
position: relative;
left: 9px;
float: right;
width: 69%;
margin-bottom: 20px;
}

.columna3 {
	float: left;
	width: 64%;
}

.columna4 {
left: 9px;
margin-bottom: 20px;
float: left;
width: 32%;
margin-top: 17px;
}

#uslider {
font-family: 'Abel', sans-serif;
font-size: 16px;

}
#divagenda {
	line-height: 3px;
	overflow: hidden;
}

.destacados1 {
	position: relative;

}

.destacados2 {
	width: 32%;
	margin-top: 7px;
	float: left;
}

#noticias{
	width: 100%;
float: left;
position: relative;
top: -16px;
}

#contenidos {
       float: left; 
       width: 70%;
       color: #002F5E;
}

#c-derecha {
       float: right;
       width: 26%;
       z-index: 10;
       color: #002F5E;
}

#c-derecha .boxgrid img {
       width: 100%;
       height: 100%;
}


#pie {
	background-image: url(http://www.jrjimenez.com/js/img/fondo-pie.jpg);
	background-repeat: repeat;
	color: #FFFFFF;
	clear: both;
        overflow: hidden;
        min-height: 250px;
        font-size: 13px;
        
}

@media only screen and (min-width: 35em) {

nav ul {
  width: 93.75%;
}

nav li {
  float: left;
  border-right: solid 1px #e1a61a;
  border-bottom: 0;
}

nav li:first-child {
  border-left: solid 1px #e1a61a;
}

nav a {
  padding: 0.5em 1em;
}

}

@media only screen and (min-width: 80em) {

body {
  /* 16px */
  font-size: 100%;
}

header,
nav ul,
.container,
footer {
  /* 1152px / 1280px */
  width: 90%;
}

}

/* maqueta
----------------------------------------------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {

.destacados1, .columna1, .columna2, .destacados2 {
}

#menu {
font-family: 'Abel', sans-serif;
	position: relative;
top: 114px;

left: 30%;
color: #fff;
}


}


/*  links ----------- */

a:link {
	color: #002F5E;
	text-decoration: none;
}
a:visited {
	color: #002F5E;
	text-decoration: none;
}
a:hover {
	color: #E02224;
	text-decoration: underline;
}
a:active {
	color: #002F5E;
	text-decoration: none;
}

/*  menu links ----------- */

#menu a:link {
	color: #fff;
	text-decoration: none;
}
#menu a:visited {
	color: #fff;
	text-decoration: none;
}
#menu a:hover {
	color: #E02224;
	text-decoration: none;
}
#menu a:active {
	color: #fff;
	text-decoration: none;
}

/*  menutop links ----------- */

#menutop a:link {
	color: #fff;
	text-decoration: none;
}
#menutop a:visited {
	color: #fff;
	text-decoration: none;
}
#menutop a:hover {
	color: #E02224;
	text-decoration: none;
}
#menutop a:active {
	color: #fff;
	text-decoration: none;
}

/*  menu ubicacion ----------- */

.ruta a:link {
	color: #9F9494;
	text-decoration: none;
}
.ruta a:visited {
	color: #9F9494;
	text-decoration: none;
}
.ruta a:hover {
	color: #E02224;
	text-decoration: none;
}
.ruta a:active {
	color: #9F9494;
	text-decoration: none;
}

#pie a:link {
	color: #fff;
	text-decoration: none;
}
#pie a:visited {
	color: #fff;
	text-decoration: none;
}
#pie a:hover {
	color: #E02224;
	text-decoration: none;
}
#pie a:active {
	color: #fff;
	text-decoration: none;
}


a img {border:0px 

}

a:hover img {border:0px 

}

/* articles
----------------------------------------------- */

.directory {
	list-style-type: circle;
}

.author {
	font-style: normal;
	font-size: 0.8em;
}

.published {
	font-size: 0.8em;
}

/* comments
----------------------------------------------- */

.comments_error {
	color: #000;
	background-color: #fff4f4;
}

ul.comments_error {
	padding : 0.3em;
	list-style-type: circle;
	list-style-position: inside;
	border: 2px solid #fdd;
}

div#cpreview {
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #ddd;
}

form#txpCommentInputForm td {
	vertical-align: top;
}

#comments-help {
	margin: 2px 0 15px 0;
	font-size: 0.7em;
}

/* error page
----------------------------------------------- */

.error-status {
	font: 1.3em Georgia, Times, serif;
}



			.boxgrid{ 
				width: 298px; 
				height: 150px; 
				margin: 1px; 
				float:left; 
				
				border: 2px; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
				}
				.boxgrid p{ 
					padding: 0 10px; 
					color:#000; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #fff; 
				height: 87px; 
				width: 100%; 
				opacity: .7; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
 				.captionfull .boxcaption {
 					top: 10;
 					left: 0;
 				}
 				.caption .boxcaption {
 					top: 1;
 					left: 0;
                                        padding: 5px;
 				}

